button {
  font-size: 42px;
  padding: 20px;
}

#message {
  font-size: 42px;
}

.columns {
  display: flex;
}

.column {
  padding: 20px;
}

#p5_loading {
  font-size: 48px;
}

.handsfree-canvas {
  display: none;
}

#debugger {
  width: 100%;
  position: relative;
}

/* let canvas = createCanvas(windowHeight*1.78, windowHeight);  */

.handsfree-video,
.handsfree-debug {
  /* width: windowHeight; */
  width: 600px;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -999;
}

#sketch-container{
  /* position: absolute; */
  z-index: -999;
  position: relative;
}

.scoreboard {
  float: left;
  position: absolute;
  z-index: 999;
  max-width: 450px;
  /* margin: 20px 20px 20px 80px; */
  padding: 20px;
  /* background-color: #ded895;
  opacity: .5; */
  background-image: url(../assets/top-right-brown.png), 
  url(../assets/top-left-brown.png),
  url(../assets/bottom-right-brown.png), 
  url(../assets/bottom-left-brown.png);
  background-position: top right, top left, bottom right, bottom left;
  background-repeat: no-repeat;
}

.scoreboard:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 4px);
  border-top: 2px solid #b1878f;
  border-bottom: 2px solid #b1878f;
  z-index: 1;
}

.scoreboard:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 20px);
  border-left: 2px solid #b1878f;
  border-right: 2px solid #b1878f;
  z-index: 1;
}

.score-title {
  margin: 0 0 0;
  font-family: "VT323", monospace;
  font-size: 2em;
  text-align: center;
  color: #ee5140;
  text-shadow: 2px 2px #f0eaa1;
}

.top-score {
  text-align: center;
  margin: 0px 20px;
  font-size: 20px;
  color: #533c44;
}

.score-list {
  position: relative;
  height: 250px;
  max-height: 250px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  z-index: 2;
}

.score-item {
  display: flex;
  justify-content: space-between;
  margin: 2px 20px;
  list-style: none;
  font-size: 2em;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.my-score {
  display: flex;
  /* justify-content: center; */
  /* justify-self: right; */
  font-family: "VT323", monospace;
  font-size: 2em;
  text-align: center;
  color: #ee5140;
  text-shadow: 2px 2px #f0eaa1;
}

canvas {
  position: relative;
  z-index: -999;
}

.nickname {
  display: flex;
  /* margin: 20px 20px 40px 60px; */
  text-align: center;
}

.my-info {
  /* display: flex; */
  /* justify-content: center; */
  position: absolute;
  left: 900px;
  justify-content: center;
  width: 500px;
}

input {
  font-family: inherit;
  padding: 6px 8px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  width: 120px;
  color: #533c44;
}

input:focus {
  outline: none;
}

button {
  display: inline-block;
  padding: 10px 28px;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #533c44;
  cursor: pointer;
}

button:hover {
  background-color: #423036;
}

button:active {
  background-color: #423036;
}