button {
  font-size: 42px;
  padding: 20px;
}

#message {
  font-size: 42px;
}

.columns {
  display: flex;
}

.column {
  padding: 20px;
}

#p5_loading {
  font-size: 48px;
}

.handsfree-canvas {
  display: none;
}

#debugger {
  width: 100%;
  position: relative;
}

.handsfree-video,
.handsfree-debug {
  /* width: 100%; */
  width: 600px;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
}